CREATE DATABASE dbSistema_Tecnico;
GO

/****** Cannot script Unresolved Entities : Server[@Name='DESKTOP-MGFAUA5\MSSQLSERVER01']/Database[@Name='dbSistema_Tecnico']/UnresolvedEntity[@Name='inserted'] ******/
USE [dbSistema_Tecnico]
GO
/****** Objeto: Table [dbo].[Administrador] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[IdAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[CAdministrador] [varchar](20) NOT NULL,
	[DNombres] [varchar](50) NOT NULL,
	[DApellidos] [varchar](50) NOT NULL,
	[DContrasena] [varchar](255) NOT NULL,
	[DActivo] [bit] NOT NULL,
	[DCorreo] [varchar](200) NOT NULL,
 CONSTRAINT [PK__Administ__2B3E34A88D4EAA2B] PRIMARY KEY CLUSTERED 
(
	[IdAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Especialidad] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[DNombre] [varchar](50) NOT NULL,
	[DActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pabellon] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pabellon](
	[IdPabellon] [int] IDENTITY(1,1) NOT NULL,
	[DNombrePabellon] [varchar](50) NOT NULL,
	[DActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPabellon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Sede] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sede](
	[IdSede] [int] IDENTITY(1,1) NOT NULL,
	[DNombreSede] [varchar](50) NOT NULL,
	[DActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Solicitante] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitante](
	[IdSolicitante] [int] IDENTITY(1,1) NOT NULL,
	[CSolicitante] [varchar](20) NOT NULL,
	[DNombres] [varchar](50) NOT NULL,
	[DApellidos] [varchar](50) NOT NULL,
	[DContrasena] [varchar](255) NOT NULL,
	[FCreacion] [datetime] NOT NULL,
	[DActivo] [bit] NOT NULL,
	[DCorreo] [varchar](200) NOT NULL,
 CONSTRAINT [PK__Solicita__B6EB1200168D5FF5] PRIMARY KEY CLUSTERED 
(
	[IdSolicitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tecnico] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnico](
	[IdTecnico] [int] IDENTITY(1,1) NOT NULL,
	[CTecnico] [varchar](20) NOT NULL,
	[DNombres] [varchar](50) NOT NULL,
	[DApellidos] [varchar](50) NOT NULL,
	[DContrasena] [varchar](255) NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[IdSede] [int] NOT NULL,
	[FCreacion] [datetime] NOT NULL,
	[DActivo] [bit] NOT NULL,
	[DCorreo] [varchar](200) NOT NULL,
 CONSTRAINT [PK__Tecnico__BF2898939A69DC08] PRIMARY KEY CLUSTERED 
(
	[IdTecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ticket] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[IdTicket] [int] IDENTITY(1,1) NOT NULL,
	[DTitulo] [varchar](150) NOT NULL,
	[IdTipoSolicitud] [int] NOT NULL,
	[DDescripcion] [varchar](500) NOT NULL,
	[IdSede] [int] NOT NULL,
	[IdPabellon] [int] NOT NULL,
	[DEstado] [varchar](20) NOT NULL,
	[DPrioridad] [varchar](10) NULL,
	[DComentario] [varchar](500) NULL,
	[FCreacion] [datetime] NOT NULL,
	[FActualizacion] [datetime] NULL,
	[IdCreadoPor] [int] NOT NULL,
	[IdAtendidoPor] [int] NULL,
	[IdAsignadoPor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoSolicitud] Fecha de script: 20/06/2026 17:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoSolicitud](
	[IdTipoSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[DNombre] [varchar](50) NOT NULL,
	[DActivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrador] ON 

INSERT [dbo].[Administrador] ([IdAdministrador], [CAdministrador], [DNombres], [DApellidos], [DContrasena], [DActivo], [DCorreo]) VALUES (1, N'U20241c678', N'Maximiliano', N'Cordero', N'123', 1, N'U20241c678@upc.edu.pe')
SET IDENTITY_INSERT [dbo].[Administrador] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([IdEspecialidad], [DNombre], [DActivo]) VALUES (1, N'Redes', 1)
INSERT [dbo].[Especialidad] ([IdEspecialidad], [DNombre], [DActivo]) VALUES (2, N'Hardware', 1)
INSERT [dbo].[Especialidad] ([IdEspecialidad], [DNombre], [DActivo]) VALUES (3, N'Software', 1)
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Pabellon] ON 

INSERT [dbo].[Pabellon] ([IdPabellon], [DNombrePabellon], [DActivo]) VALUES (1, N'A', 1)
INSERT [dbo].[Pabellon] ([IdPabellon], [DNombrePabellon], [DActivo]) VALUES (2, N'B', 1)
INSERT [dbo].[Pabellon] ([IdPabellon], [DNombrePabellon], [DActivo]) VALUES (3, N'C', 1)
SET IDENTITY_INSERT [dbo].[Pabellon] OFF
GO
SET IDENTITY_INSERT [dbo].[Sede] ON 

INSERT [dbo].[Sede] ([IdSede], [DNombreSede], [DActivo]) VALUES (1, N'Monterrico', 1)
INSERT [dbo].[Sede] ([IdSede], [DNombreSede], [DActivo]) VALUES (2, N'San Isidro', 1)
INSERT [dbo].[Sede] ([IdSede], [DNombreSede], [DActivo]) VALUES (3, N'Villa', 1)
SET IDENTITY_INSERT [dbo].[Sede] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitante] ON 

INSERT [dbo].[Solicitante] ([IdSolicitante], [CSolicitante], [DNombres], [DApellidos], [DContrasena], [FCreacion], [DActivo], [DCorreo]) VALUES (1, N'S001', N'Carlos', N'Vega', N'pass', CAST(N'2025-02-01T00:00:00.000' AS DateTime), 1, N'carlos.vega@gmail.com')
INSERT [dbo].[Solicitante] ([IdSolicitante], [CSolicitante], [DNombres], [DApellidos], [DContrasena], [FCreacion], [DActivo], [DCorreo]) VALUES (2, N'S002', N'Maria', N'Lopez', N'pass', CAST(N'2025-02-11T00:00:00.000' AS DateTime), 1, N'maria.lopez@gmail.com')
INSERT [dbo].[Solicitante] ([IdSolicitante], [CSolicitante], [DNombres], [DApellidos], [DContrasena], [FCreacion], [DActivo], [DCorreo]) VALUES (3, N'S003', N'Diego', N'Ramos', N'pass', CAST(N'2025-03-01T00:00:00.000' AS DateTime), 1, N'diego.ramos@gmail.com')
SET IDENTITY_INSERT [dbo].[Solicitante] OFF
GO
SET IDENTITY_INSERT [dbo].[Tecnico] ON 

INSERT [dbo].[Tecnico] ([IdTecnico], [CTecnico], [DNombres], [DApellidos], [DContrasena], [IdEspecialidad], [IdSede], [FCreacion], [DActivo], [DCorreo]) VALUES (1, N'T001', N'Juan', N'Perez', N'pass', 1, 1, CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, N'juan.perez@soporTec.com')
INSERT [dbo].[Tecnico] ([IdTecnico], [CTecnico], [DNombres], [DApellidos], [DContrasena], [IdEspecialidad], [IdSede], [FCreacion], [DActivo], [DCorreo]) VALUES (2, N'T002', N'Ana', N'Torres', N'pass', 2, 2, CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, N'ana.torres@soporTec.com')
INSERT [dbo].[Tecnico] ([IdTecnico], [CTecnico], [DNombres], [DApellidos], [DContrasena], [IdEspecialidad], [IdSede], [FCreacion], [DActivo], [DCorreo]) VALUES (3, N'T003', N'Luis', N'Rojas', N'pass', 3, 3, CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, N'luis.rojas@soporTec.com')
SET IDENTITY_INSERT [dbo].[Tecnico] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([IdTicket], [DTitulo], [IdTipoSolicitud], [DDescripcion], [IdSede], [IdPabellon], [DEstado], [DPrioridad], [DComentario], [FCreacion], [FActualizacion], [IdCreadoPor], [IdAtendidoPor], [IdAsignadoPor]) VALUES (1, N'Sin internet', 1, N'El equipo no tiene conexión a internet', 1, 1, N'Sin Asignar', NULL, NULL, CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2026-06-01T00:00:00.000' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Ticket] ([IdTicket], [DTitulo], [IdTipoSolicitud], [DDescripcion], [IdSede], [IdPabellon], [DEstado], [DPrioridad], [DComentario], [FCreacion], [FActualizacion], [IdCreadoPor], [IdAtendidoPor], [IdAsignadoPor]) VALUES (2, N'Internet lento', 1, N'Conexión inestable en el aula', 1, 2, N'Asignado', N'Alta', N'Se procede con el monitoreo del switch principal del pabellón.', CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2026-06-20T08:56:26.777' AS DateTime), 1, 1, 1)
INSERT [dbo].[Ticket] ([IdTicket], [DTitulo], [IdTipoSolicitud], [DDescripcion], [IdSede], [IdPabellon], [DEstado], [DPrioridad], [DComentario], [FCreacion], [FActualizacion], [IdCreadoPor], [IdAtendidoPor], [IdAsignadoPor]) VALUES (3, N'Cable de red dañado', 1, N'El cable no transmite señal', 1, 1, N'Resuelto', N'Media', N'Se ponchó un nuevo conector RJ45 y se certificó el punto de red. OK.', CAST(N'2026-06-01T00:00:00.000' AS DateTime), CAST(N'2026-06-20T08:56:26.777' AS DateTime), 1, 9, 1)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoSolicitud] ON 

INSERT [dbo].[TipoSolicitud] ([IdTipoSolicitud], [DNombre], [DActivo]) VALUES (1, N'Problema de conectividad', 1)
INSERT [dbo].[TipoSolicitud] ([IdTipoSolicitud], [DNombre], [DActivo]) VALUES (2, N'Falla física de equipo', 1)
INSERT [dbo].[TipoSolicitud] ([IdTipoSolicitud], [DNombre], [DActivo]) VALUES (3, N'Error en aplicación', 1)
SET IDENTITY_INSERT [dbo].[TipoSolicitud] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Administ__C2BC0E00B30C8D5A] Fecha de script: 20/06/2026 17:11:35 ******/
ALTER TABLE [dbo].[Administrador] ADD  CONSTRAINT [UQ__Administ__C2BC0E00B30C8D5A] UNIQUE NONCLUSTERED 
(
	[CAdministrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Solicita__83C471505C913FA2] Fecha de script: 20/06/2026 17:11:35 ******/
ALTER TABLE [dbo].[Solicitante] ADD  CONSTRAINT [UQ__Solicita__83C471505C913FA2] UNIQUE NONCLUSTERED 
(
	[CSolicitante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Tecnico__7C7A8903BEB2EA97] Fecha de script: 20/06/2026 17:11:35 ******/
ALTER TABLE [dbo].[Tecnico] ADD  CONSTRAINT [UQ__Tecnico__7C7A8903BEB2EA97] UNIQUE NONCLUSTERED 
(
	[CTecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrador] ADD  CONSTRAINT [DF__Administr__DActi__47DBAE45]  DEFAULT ((1)) FOR [DActivo]
GO
ALTER TABLE [dbo].[Especialidad] ADD  DEFAULT ((1)) FOR [DActivo]
GO
ALTER TABLE [dbo].[Pabellon] ADD  DEFAULT ((1)) FOR [DActivo]
GO
ALTER TABLE [dbo].[Sede] ADD  DEFAULT ((1)) FOR [DActivo]
GO
ALTER TABLE [dbo].[Solicitante] ADD  CONSTRAINT [DF__Solicitan__DActi__4BAC3F29]  DEFAULT ((1)) FOR [DActivo]
GO
ALTER TABLE [dbo].[Tecnico] ADD  CONSTRAINT [DF__Tecnico__DActivo__440B1D61]  DEFAULT ((1)) FOR [DActivo]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT ('Sin Asignar') FOR [DEstado]
GO
ALTER TABLE [dbo].[TipoSolicitud] ADD  DEFAULT ((1)) FOR [DActivo]
GO
ALTER TABLE [dbo].[Tecnico]  WITH CHECK ADD  CONSTRAINT [FK_Tecnico_Especialidad] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidad] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Tecnico] CHECK CONSTRAINT [FK_Tecnico_Especialidad]
GO
ALTER TABLE [dbo].[Tecnico]  WITH CHECK ADD  CONSTRAINT [FK_Tecnico_Sede] FOREIGN KEY([IdSede])
REFERENCES [dbo].[Sede] ([IdSede])
GO
ALTER TABLE [dbo].[Tecnico] CHECK CONSTRAINT [FK_Tecnico_Sede]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Administrador] FOREIGN KEY([IdAsignadoPor])
REFERENCES [dbo].[Administrador] ([IdAdministrador])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Administrador]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Pabellon] FOREIGN KEY([IdPabellon])
REFERENCES [dbo].[Pabellon] ([IdPabellon])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Pabellon]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Sede] FOREIGN KEY([IdSede])
REFERENCES [dbo].[Sede] ([IdSede])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Sede]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Solicitante] FOREIGN KEY([IdCreadoPor])
REFERENCES [dbo].[Solicitante] ([IdSolicitante])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Solicitante]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Tecnico] FOREIGN KEY([IdAtendidoPor])
REFERENCES [dbo].[Tecnico] ([IdTecnico])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Tecnico]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_TipoSolicitud] FOREIGN KEY([IdTipoSolicitud])
REFERENCES [dbo].[TipoSolicitud] ([IdTipoSolicitud])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_TipoSolicitud]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Estado] CHECK  (([DEstado]='Cancelado' OR [DEstado]='Resuelto' OR [DEstado]='En Proceso' OR [DEstado]='Asignado' OR [DEstado]='Sin Asignar'))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Estado]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Prioridad] CHECK  (([DPrioridad]='Baja' OR [DPrioridad]='Media' OR [DPrioridad]='Alta' OR [DPrioridad] IS NULL))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Prioridad]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_SinAsignar] CHECK  ((([DEstado]='Cancelado' OR [DEstado]='Sin Asignar') AND [IdAtendidoPor] IS NULL AND [DPrioridad] IS NULL OR NOT ([DEstado]='Cancelado' OR [DEstado]='Sin Asignar') AND [IdAtendidoPor] IS NOT NULL AND [DPrioridad] IS NOT NULL))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_SinAsignar]
GO
/****** Objeto: Trigger [dbo].[trg_Ticket_Actualizacion] Fecha de script: 20/06/2026 17:11:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Trigger de auditoría

-- Actualiza FActualizacion automáticamente cada vez que se modifica un registro de Ticket (cambio de estado, asignación, etc.)
CREATE TRIGGER [dbo].[trg_Ticket_Actualizacion]
ON [dbo].[Ticket]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE T
    SET T.FActualizacion = GETDATE()
    FROM Ticket T
    INNER JOIN inserted I ON T.IdTicket = I.IdTicket;
END
GO
ALTER TABLE [dbo].[Ticket] ENABLE TRIGGER [trg_Ticket_Actualizacion]
GO
